<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{user.image}}" alt="..." style="width: 300px; height:300px">
    </div>
    <div class="col-md-8">
      <div class="card-body ml-5 my-4">
        <h4 class="card-title">名稱: {{user.name}}</h4>
        <h5 class="card-text my-5">信箱: {{user.email}}</h5>
        <h6 class="card-text my-5">{{user.Comments.length}} 則己評論的餐廳</h6>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">修改</a>
        <a href="/restaurants" class="btn btn-secondary">首頁</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">{{user.Comments.length}} 則己評論的餐廳</div>
  <div class="text-left ">
    {{#each user.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" class="rounded my-3 ml-3"
        alt="..." style="width: 10rem"></a>
    {{/each}}
  </div>
</div>